<!DOCTYPE html>
<html lang="en">
<head>
    <title>FAQ | HotOffThePress</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="banner">
        <div class="nebula-particles" aria-hidden="true"></div>
        <div class="navbar">
            <div class="logo">
                <video class="logo" autoplay loop muted>
                    <source src="/videos/aimlog.mp4" type="video/mp4">
                </video>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submissions/create">Submit Story</a></li>
                <li><a href="/submissions">All Submissions</a></li>
                 <li class="nav-dropdown">
                   <a href="/users/account" class="dropbtn">My Account ▾</a>
                   <ul class="dropdown-menu">
                     <li><a href="/users/account">Account</a></li>
                     <li><a href="/user/submissions">My Submissions</a></li>
                     <li><a href="/users/logout">Logout</a></li>
                   </ul>
                 </li>
                <li><a href="/aisupport">AI Support</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="FAQ">
    <h2>Frequently Asked Questions</h2>
    <h3><img src="https://pixelsafari.neocities.org/dividers/more/xmas4.gif"></h3>
    <ul>
        <li><strong>How do I submit a story?</strong> Click "Submit A Story" in the navbar and fill out the form.</li>
        <li><strong>Why do I need an account to see the website?</strong> You must have an account because this is a high-tech website.</li>
        <li><strong>Can I edit or delete my submissions?</strong> No, as of currently you cannot edit any submissions you make.</li>
        <li><strong>How often are stories updated?</strong> Stories are updated every 5 minutes to ensure you see the latest news.</li>
        <li><strong>What types of stories can I submit?</strong> You can submit any story related to technology, science, or current events.</li>
        <li><strong>Is there a character limit for submissions?</strong> Yes, titles should be under 100 characters, and the body text should be concise.</li>
        <li><strong>Who can I contact for support?</strong> You can reach out to our support team via the "AI Support" link in the navbar.</li>
    </ul>
</div>
    </body>
    <script src="/javascripts/particles.js" defer></script>
</html>