<!DOCTYPE html>
<html lang="en">
<head>
    <title>HotOffThePress</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="matrix-bg">
        <span>0101011100110110011001010101</span>
        <span>1010110100110100011100100110</span>
        <span>1001100101011100110100110011</span>
        <span>1110001110100110100101100110</span>
        <span>1010011001010011001101101001</span>
        <span>1110010100110110101100100101</span>
        <span>0110100101110100011100100110</span>
        <span>1001011011110110111000100110</span>
        <span>1100110100011010010110111101</span>
        <span>0111001001100101011100110110</span>
    </div>

    <div class="banner">
        <div class="navbar">
            <div class="logo">
                <video class="logo" autoplay loop muted>
                    <source src="/videos/aimlog.mp4" type="video/mp4">
                </video>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submissions/create">Submit Story</a></li>
                <li><a href="/user/submissions">My Submissions</a></li>
                <li><a href="/users/account">My Account</a></li>
                <li><a href="/users/logout">Logout</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
        <div class="content">
            <h2>Welcome to HotOffThePress!</h2>
            <p>This is a Hacker News-style site. You must be signed in to submit or view your stories.</p>
            <hr>
            <h3>Latest Hacker Stories</h3>
            <!-- Stories list will be added here later -->
            <div id="stories-placeholder">
                <p>Stories will appear here soon!</p>
            </div>
        </div>
    </div>
</body>
</html>