<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <title>AimForge</title>
        <link rel="stylesheet" href="/stylesheets/style.css"></link>
    </head>
    
    <body>
        <div class=" banner ">
            <div class="navbar ">
                <div class="logo">
                    <video class="logo" autoplay loop muted>
                        <source src="/videos/aimlog.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                  </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href ="/booking/create ">New Booking</a></li>
                    <li><a href="/reportform">Report</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
    <div class="content">
        <form id="reportForm" action="/booking/report" method="post">
            <!-- User Name Input -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter user name" required>
            <br>

            <!-- Start Date Input -->
            <label for="startDate">Start Date:</label>
            <input type= "date" id="startDate" name="startDate" required>
            <br>

            <!-- End Date Input -->
            <label for="endDate">End Date:</label>
            <input type= "date" id="endDate" name="endDate" required>
            <br>

            <!-- Submit Button -->
            <button id="generateReport"  action= "/report" method= "post" type="submit">Generate Report</button>
        </form>
    </div>
</html>