<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>AimForge</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
</head>

<body>
    <div class=" banner ">
        <div class="navbar ">
            <div class="logo">
                <video class="logo" autoplay loop muted>
                    <source src="/videos/aimlog.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
              </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href ="/booking/create ">New Booking</a></li>
                <li><a href="/reportform">Report</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
        </div>
        <div class="content ">
            <h1>Booking Deleted successfully</h1>
        
            <div>
                <a href="/ "><button type="button "><span></span>Home</button></a>
                <a href="/table "><button type="button "><span></span>List of bookings</button></a>
            </div>
        </div>
    </div>
</body>

</html>